@{
    ViewData["Title"] = "Next Event";
}
<h1 style="color:darkgreen">@ViewData["Title"]</h1 style="color:darkgreen">

<h4>
    Date: Sunday 18th October 2020, Time: 3-4:30pm
</h4>
<h4>
    Venue: Gallagher Academy of Performing Arts, Univ. of Waikato
</h4>
<a>
    The United Youth Orchestra presents a varied programme of popular pieces in their Spring Concert. Orchestra Leader Tina Jiang performs Beethoven's Romance in F major. Several very talented young musicians will impress in the ‘Member’s Solo’ segment of the performance.
</a>
<p>
    Come along for a wonderful afternoon of music, inspire your children, and support Waikato’s young musicians.
</p>
<img src="~/images/PosterOct2020b.jpg">
